<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PF Gen</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
        {{> navigation }}
        {{{body}}}
        {{!-- <h4>Layout</h4> --}}
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        {{{block "js"}}}
            {{!-- Custom Scripts --}}
        
    </body>
</html>